header .navbar, main section div .cajita .productos div h3, footer p {
  text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }
  html body {
    background-color: #fff7f5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%; }

h1 {
  color: #0f3433;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin: 20px; }

h2 {
  color: #0f3433;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 35px;
  font-weight: 400;
  text-align: center; }

p {
  color: #0f3433;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal; }

a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal; }

header .logo {
  display: flex;
  justify-content: center;
  background-color: #c3e2da; }

header .navbar {
  padding-top: 0;
  padding-bottom: 0;
  height: auto; }
  header .navbar .container-fluid {
    padding-left: 0;
    background-color: #c3e2da;
    position: relative;
    z-index: 1; }
    header .navbar .container-fluid .navbar-toggler {
      color: #a0cdac00; }
    header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
      border-radius: 20px;
      font-size: 20px;
      transition: 0.5s; }
      header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
        color: #fff7f5;
        background-color: #f3b65a; }
  header .navbar .icono {
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px; }
    header .navbar .icono a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      font-size: 15px;
      font-weight: 500;
      color: #0f3433;
      margin-left: 5px;
      margin-right: 5px; }
      header .navbar .icono a img {
        justify-content: center;
        width: 30px;
        height: 30px;
        margin: auto;
        transition: 0.5s; }
        header .navbar .icono a img:hover {
          color: #fff7f5;
          background-color: #f3b65a;
          transform: scale(1.5);
          border-radius: 20px;
          padding: 5px; }

main .hero .div {
  height: 400px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1700' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(195%2c 226%2c 218%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c463 C 72%2c421.2 216%2c265.8 360%2c254 C 504%2c242.2 576%2c400.2 720%2c404 C 864%2c407.8 936%2c285.4 1080%2c273 C 1224%2c260.6 1368%2c328.2 1440%2c342L1440 560L0 560z' fill='rgba(241%2c 245%2c 243%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  margin-bottom: 15px;
  border-top: 2px #fff7f5 solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
  grid-template-areas: "img div1 div2"; }
  main .hero .div img {
    width: 90%;
    height: 100%;
    padding: 10px;
    grid-area: img; }
  main .hero .div .div1 {
    grid-area: div1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .hero .div .div1 h1 {
      color: #fff7f5;
      font-size: large; }
    main .hero .div .div1 p {
      font-family: inherit;
      font-size: xx-large;
      font-weight: 800;
      color: #fff7f5;
      text-align: center; }
    main .hero .div .div1 a {
      background-color: #f3b65a;
      color: #fff7f5;
      border-radius: 40px;
      padding: 15px;
      text-decoration: none;
      font-size: 20px; }
  main .hero .div .div2 {
    grid-area: div2; }
    main .hero .div .div2 p {
      background: rgba(243, 182, 90, 0.48);
      border-radius: 0px 0px 15px 15px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3.1px);
      -webkit-backdrop-filter: blur(3.1px);
      border: 1px solid rgba(243, 182, 90, 0.77);
      width: 50%;
      text-align: center;
      color: #fff7f5;
      margin: auto; }
    main .hero .div .div2 img {
      width: 90%;
      height: 80%;
      padding: 10px; }

main section div .cajita .productos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  main section div .cajita .productos div {
    width: 300px;
    border: #c3e2da 1px solid;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0px 3px 19px 5px rgba(109, 109, 107, 0.236);
    transition-property: all;
    transition-duration: 0.5s;
    margin: 20px; }
    main section div .cajita .productos div:hover {
      box-shadow: 0px 3px 19px 5px rgba(16, 16, 16, 0.329); }
    main section div .cajita .productos div img {
      width: 300px;
      height: 300px;
      border-radius: 10%;
      padding: 20px; }
    main section div .cajita .productos div h3 {
      font-weight: 200; }
    main section div .cajita .productos div a {
      text-decoration: none;
      color: #fff7f5;
      display: inline-block;
      margin: 10px;
      padding: 10px;
      background-color: #c3e2da;
      border-radius: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal;
      width: 90%; }

main .carousel {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px; }
  main .carousel div img {
    height: 300px;
    border: solid 1px rgba(128, 128, 128, 0.226); }
  main .carousel div button span {
    background-color: rgba(128, 128, 128, 0.226); }

main section .cuenta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img form" "img form";
  gap: 5px; }
  main section .cuenta img {
    width: 100%;
    height: 100%;
    grid-area: img; }
  main section .cuenta .formulario {
    grid-area: form;
    width: 80%;
    align-self: center;
    margin: auto; }
    main section .cuenta .formulario div {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 100%; }
      main section .cuenta .formulario div label {
        color: #c3e2da;
        font-weight: 500;
        font-size: 20px;
        padding-left: 10px; }
      main section .cuenta .formulario div input {
        border-radius: 20px;
        margin-bottom: 5px;
        padding: 10px;
        width: 100%; }
    main section .cuenta .formulario div {
      margin: 5px 0px 5px 0px; }
      main section .cuenta .formulario div .ingreso {
        color: #0f3433;
        border-radius: 20px;
        text-decoration: none;
        padding: 10px;
        border: #c3e2da 1px solid;
        text-align: center; }
      main section .cuenta .formulario div .contrasenia {
        color: #c3e2da;
        text-align: center;
        margin: 5px 0px 0px 0px; }
    main section .cuenta .formulario div .p {
      margin: 5px 0px 5px 0px;
      color: #c3e2da;
      font-weight: 500;
      text-align: center; }
    main section .cuenta .formulario div .crear {
      color: #fff7f5;
      background-color: #c3e2da;
      padding: 10px;
      border-radius: 20px;
      text-decoration: none;
      font-size: 20px;
      text-align: center;
      margin: 5px 0px 5px 0px; }

main section .cafe {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  main section .cafe div {
    width: 300px;
    border: #c3e2da 1px solid;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0px 3px 19px 5px rgba(109, 109, 107, 0.236);
    transition-property: all;
    transition-duration: 0.5s;
    margin: 50px; }
    main section .cafe div:hover {
      box-shadow: 0px 3px 19px 5px rgba(16, 16, 16, 0.329); }
    main section .cafe div img {
      width: 300px;
      height: 300px;
      border-radius: 10%;
      padding: 20px; }
    main section .cafe div select {
      text-decoration: none;
      color: #0f3433;
      display: inline-block;
      padding: 10px;
      margin: 5px;
      border-radius: 20px;
      width: 90%; }
    main section .cafe div a {
      text-decoration: none;
      color: #0f3433;
      display: inline-block;
      margin: 5px;
      padding: 10px;
      background-color: #c3e2da;
      border-radius: 20px;
      width: 90%; }

main .contenedor {
  display: grid;
  grid-template-rows: 620px 800px 500px 200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "none presentacion presentacion presentacion" "quien quien paula paula" "propuesta propuesta propuesta propuesta" "bar bar bar bar"; }
  main .contenedor .presentacion {
    grid-area: presentacion; }
    main .contenedor .presentacion img {
      width: 80%;
      height: 80%;
      position: relative;
      opacity: 0.5; }
    main .contenedor .presentacion div {
      position: absolute;
      width: 45%;
      top: 300px;
      padding: 40px;
      background: rgba(244, 235, 235, 0.04);
      border-radius: 16px;
      border: 1px solid rgba(244, 235, 235, 0.82);
      border-radius: 25px;
      line-height: 25px; }
      main .contenedor .presentacion div h2 {
        text-align: left; }
      main .contenedor .presentacion div p {
        font-weight: 500; }
  main .contenedor .quien {
    grid-area: quien;
    display: flex;
    align-items: left; }
    main .contenedor .quien img {
      width: 80%;
      height: 80%;
      position: relative;
      opacity: 0.5; }
    main .contenedor .quien div {
      position: absolute;
      width: 50%;
      padding: 40px;
      background: rgba(244, 235, 235, 0.04);
      border-radius: 16px;
      backdrop-filter: blur(1.7px);
      border: 1px solid rgba(244, 235, 235, 0.82);
      border-radius: 25px;
      line-height: 25px;
      margin-left: 20px;
      margin-top: 50px; }
      main .contenedor .quien div h2 {
        text-align: left; }
      main .contenedor .quien div p {
        font-weight: 500; }
  main .contenedor .paula {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: #c3e2da 1px solid;
    border-radius: 10%;
    margin: auto;
    grid-area: paula; }
    main .contenedor .paula img {
      width: 500px;
      height: 500px;
      padding: 20px;
      border-radius: 10%;
      object-fit: cover; }
  main .contenedor .propuesta {
    grid-area: propuesta;
    display: flex;
    justify-content: center; }
    main .contenedor .propuesta img {
      position: relative;
      opacity: 0.5; }
    main .contenedor .propuesta .info2 {
      position: absolute;
      width: 80%;
      padding: 40px;
      border-radius: 16px;
      backdrop-filter: blur(1.7px);
      border: 1px solid rgba(244, 235, 235, 0.82);
      border-radius: 25px;
      line-height: 25px;
      margin-top: 10%; }
      main .contenedor .propuesta .info2 h2 {
        text-align: left; }
      main .contenedor .propuesta .info2 p {
        font-weight: 500; }
  main .contenedor .baristas {
    display: flex;
    justify-content: space-evenly;
    grid-area: bar; }

footer {
  background-color: #c3e2da;
  margin-top: auto; }
  footer p {
    font-size: medium; }
  footer .contactos {
    display: flex;
    justify-content: center;
    margin: 10px; }
    footer .contactos a {
      width: 30px;
      height: 30px;
      margin: 0px 10px 0px 10px;
      transition: 1s; }
      footer .contactos a:hover {
        transform: scale(1.1); }
      footer .contactos a img {
        width: 30px;
        height: 30px;
        display: block; }

@media screen and (max-width: 977px) {
  main .contenedor {
    display: grid;
    grid-template-rows: 500px 600px 500px auto 200px;
    grid-template-columns: 1fr;
    grid-template-areas: "presentacion " "quien " "paula" "propuesta" "bar "; }
    main .contenedor .presentacion div {
      width: 100%; }
    main .contenedor .quien div {
      margin: 0;
      width: 100%; }
  main .baristas .b4 {
    display: none; }
  main section .cafe div {
    margin: 5px; }
  main .hero .div .div2 .box2 {
    display: none; } }

@media screen and (max-width: 710px) {
  main .contenedor {
    display: grid;
    grid-template-rows: 600px 700px  420px 450px 200px;
    grid-template-columns: 1fr;
    grid-template-areas: "presentacion " "quien " "paula" "propuesta" "bar "; }
    main .contenedor .paula {
      width: 380px;
      height: 380px; }
      main .contenedor .paula img {
        width: 380px;
        height: 380px; }
    main .contenedor .baristas .b3 {
      display: none; }
  main .carousel {
    width: auto;
    margin: 10px; }
  main section div .cajita .productos div {
    margin: 5px; } }

@media screen and (max-width: 617px) {
  main .contenedor {
    display: grid;
    grid-template-rows: 800px 800px auto 600px 200px;
    grid-template-columns: 1fr;
    grid-template-areas: "presentacion " "quien " "paula" "propuesta" "bar "; }
    main .contenedor .propuesta img {
      width: 100%;
      height: 100%; }
  main .hero .div .box {
    display: none; }
  main .hero .div .div2 p {
    margin: 0;
    width: 100%; } }

@media screen and (max-width: 531px) {
  main section .cuenta {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-template-areas: "form"; }
    main section .cuenta .img {
      display: none; }
  main .contenedor {
    display: grid;
    grid-template-rows: 950px 1100px 400px 850px 200px;
    grid-template-columns: 1fr;
    grid-template-areas: "presentacion " "quien " "paula" "propuesta" "bar "; }
    main .contenedor .paula {
      width: 350px;
      height: 350px; }
      main .contenedor .paula img {
        width: 350px;
        height: 350px; }
    main .contenedor .baristas .b1 {
      display: none; } }

@media screen and (max-width: 460px) {
  header .logo img {
    width: 250px; }
  header .navbar .container-fluid .navbar-toggler {
    font-size: 15px; }
  header .navbar .icono a {
    font-size: 10px; }
    header .navbar .icono a img {
      width: 20px;
      height: 20px; }
  main .hero .div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "div1";
    height: 300px; }
    main .hero .div .div1 a {
      padding: 10px; }
    main .hero .div .div2 p {
      display: none; }
  main .carousel div img {
    height: 200px; } }

@media screen and (max-width: 357px) {
  main section div h2 {
    font-size: 25px; }
  main section div .cajita .productos div {
    width: 200px; }
    main section div .cajita .productos div img {
      width: 200px;
      height: 200px;
      border-radius: 10%; }
  main section div h1 {
    font-size: 20px; }
  main .contenedor {
    display: grid;
    grid-template-rows: 920px 1230px 320px 885px 200px;
    grid-template-columns: 1fr;
    grid-template-areas: "presentacion " "quien " "paula" "propuesta" "bar "; }
    main .contenedor .paula {
      width: 300px;
      height: 300px; }
      main .contenedor .paula img {
        width: 300px;
        height: 300px; }
    main .contenedor div h2 {
      font-size: 30px; }
  main section .cafe div {
    width: 230px; }
    main section .cafe div img {
      width: 100%;
      height: 200px;
      border: 15px; }
    main section .cafe div select {
      font-size: 15px;
      padding: 5px; }
    main section .cafe div a {
      font-size: 15px; } }
