* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%; }
  html body {
    background-color: #fff7f5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%; }

main .contenedor div h2 {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 35px;
  font-weight: 450;
  text-align: center; }

main .contenedor div p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  margin: 10px; }

header .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #A0CDAC; }

header .navbar {
  padding-top: 0;
  padding-bottom: 0; }
  header .navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
    background-color: #A0CDAC; }
    header .navbar .container-fluid .navbar-toggler {
      color: #a0cdac00; }
    header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
      display: flex;
      justify-content: center;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal;
      font-size: 20px;
      transition: 0.5s; }
      header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link:hover {
        color: #fff7f5;
        background-color: #d2bf9e; }

.d-flex {
  width: 250px; }
  .d-flex .form-control {
    font-size: 15px;
    padding: 0; }
  .d-flex .btn-outline-success {
    color: black;
    border-color: #88b293;
    border-radius: 30%;
    font-size: 15px; }
    .d-flex .btn-outline-success:hover {
      background-color: #d2bf9e;
      color: #fff7f5; }

main .hero h1 {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  margin: 10px; }

main .carousel {
  width: 600px;
  margin: auto; }
  main .carousel div button span {
    background-color: rgba(128, 128, 128, 0.226); }

main section div h2 {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 350;
  text-align: center;
  margin: 20px; }

main section div .cajita .productos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }
  main section div .cajita .productos div {
    width: 300px;
    border: #A0CDAC 1px solid;
    text-align: center;
    border-radius: 10%;
    margin: 20px;
    box-shadow: 0px 3px 19px 5px rgba(109, 109, 107, 0.236);
    transition-property: all;
    transition-duration: 0.5s; }
    main section div .cajita .productos div:hover {
      box-shadow: 0px 3px 19px 5px rgba(16, 16, 16, 0.329); }
    main section div .cajita .productos div img {
      width: 300px;
      height: 300px;
      border-radius: 10%;
      padding: 20px; }
    main section div .cajita .productos div h3 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal;
      font-weight: 200;
      text-align: center; }
    main section div .cajita .productos div p {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal;
      text-align: center; }
    main section div .cajita .productos div a {
      text-decoration: none;
      color: #fff7f5;
      display: inline-block;
      margin: 10px;
      padding: 10px;
      background-color: #A0CDAC;
      border-radius: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal; }

main section .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px; }
  main section .formulario div label {
    color: #A0CDAC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center; }
  main section .formulario div input {
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center; }
  main section .formulario div a:not(.contrasenia) {
    color: #fff7f5;
    background-color: #A0CDAC;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    display: flex;
    font-size: 20px;
    justify-content: center; }
  main section .formulario div .contrasenia {
    color: #A0CDAC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: 5px; }
  main section .formulario div p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    color: #A0CDAC;
    text-align: center; }
  main section .formulario div a:not(.contrasenia) {
    color: #fff7f5;
    background-color: #A0CDAC;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    display: flex;
    font-size: 20px;
    justify-content: center; }

main section div h2 {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 350;
  text-align: center;
  margin: 20px; }

main section .cafe {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; }
  main section .cafe div {
    width: 300px;
    border: #A0CDAC 1px solid;
    text-align: center;
    border-radius: 10%;
    margin: 50px;
    box-shadow: 0px 3px 19px 5px rgba(109, 109, 107, 0.236);
    transition-property: all;
    transition-duration: 0.5s; }
    main section .cafe div:hover {
      box-shadow: 0px 3px 19px 5px rgba(16, 16, 16, 0.329); }
    main section .cafe div img {
      width: 300px;
      height: 300px;
      border-radius: 10%;
      padding: 20px; }
    main section .cafe div p {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal;
      text-align: center; }
    main section .cafe div select {
      text-decoration: none;
      color: #fff7f5;
      display: inline-block;
      padding: 10px;
      margin: 5px;
      background-color: #A0CDAC;
      border-radius: 20px; }
      main section .cafe div select option {
        border-radius: 20px; }
    main section .cafe div a {
      text-decoration: none;
      color: #fff7f5;
      display: inline-block;
      margin: 5px;
      padding: 10px;
      background-color: #A0CDAC;
      border-radius: 20px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal; }

main .contenedor {
  display: grid;
  grid-template-rows: 300px 600px 200px 200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "presentacion presentacion presentacion presentacion" "quien quien paula paula" "propuesta propuesta propuesta propuesta" "bar bar bar bar"; }
  main .contenedor .presentacion {
    grid-area: presentacion; }
  main .contenedor .quien {
    margin: auto;
    grid-area: quien; }
  main .contenedor .paula {
    width: 500px;
    height: 500px;
    border: #A0CDAC 1px solid;
    border-radius: 10%;
    margin: auto;
    grid-area: paula; }
    main .contenedor .paula img {
      width: 500px;
      height: 500px;
      padding: 20px;
      border-radius: 10%;
      object-fit: cover; }
  main .contenedor .propuesta {
    grid-area: propuesta; }
  main .contenedor .baristas {
    display: flex;
    justify-content: space-evenly;
    grid-area: bar; }

@media screen and (max-width: 1186px) {
  main .contenedor {
    display: grid;
    grid-template-rows: 300px 500px 500px 200px 200px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "presentacion presentacion " "quien quien " "paula paula" "propuesta propuesta " "bar bar "; }
  main .baristas .b4 {
    display: none; } }

@media screen and (max-width: 918px) {
  main .contenedor {
    display: grid;
    grid-template-rows: auto 550px 500px auto 200px;
    grid-template-columns: 1fr;
    grid-template-areas: "presentacion " "quien " "paula" "propuesta" "bar "; }
  main section .cafe div {
    margin: 5px; } }

@media screen and (max-width: 710px) {
  main .contenedor {
    display: grid;
    grid-template-rows: auto auto 400px auto 200px;
    grid-template-columns: 1fr;
    grid-template-areas: "presentacion " "quien " "paula" "propuesta" "bar "; }
    main .contenedor .paula {
      width: 380px;
      height: 380px; }
      main .contenedor .paula img {
        width: 380px;
        height: 380px; }
    main .contenedor .baristas .b3 {
      display: none; }
  main .carousel {
    width: auto;
    margin: 10px; }
  main section div .cajita .productos div {
    margin: 5px; } }

@media screen and (max-width: 460px) {
  main .contenedor .paula {
    height: 350px;
    width: 300px; }
    main .contenedor .paula img {
      width: 300px;
      height: 350px; }
  main .contenedor .baristas .b1 {
    display: none; }
  header .navbar .container-fluid .navbar-toggler {
    font-size: 15px; }
  header .d-flex {
    justify-content: flex-end;
    width: 200px; }
    header .d-flex .form-control {
      font-size: 10px; }
    header .d-flex .btn-outline-success {
      font-size: 10px; } }

@media screen and (max-width: 357px) {
  main .hero h1 {
    font-size: 25px;
    margin: 5px; }
  main section div h2 {
    font-size: 20px; }
  main section div .cajita .productos div {
    width: 200px; }
    main section div .cajita .productos div img {
      width: 200px;
      height: 200px;
      border-radius: 10%; }
  main section .cafe div {
    width: 230px; }
    main section .cafe div img {
      width: 100%;
      height: 220px;
      border: 15px; }
    main section .cafe div select {
      font-size: 15px;
      padding: 5px; }
    main section .cafe div a {
      font-size: 15px; } }

footer {
  background-color: #A0CDAC;
  margin-top: auto; }
  footer p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-align: center;
    font-size: medium; }
  footer .contactos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px; }
    footer .contactos a {
      width: 30px;
      height: 30px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal;
      margin: 0px 10px 0px 10px;
      transition: 1s; }
      footer .contactos a:hover {
        transform: scale(1.1); }
      footer .contactos a img {
        width: 30px;
        height: 30px;
        display: block; }
