/*--HEADER--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MODIF. BOOTSTRAP */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.carousel-control-prev-icon {
    background-color: rgba(128, 128, 128, 0.226);
}

.carousel-control-next-icon {
    background-color: rgba(128, 128, 128, 0.226);

}

.carousel {
    width: 600px;
    margin: auto
}

.navbar-light .navbar-toggler {
    color: #a0cdac00;
}

.btn-outline-success:hover {
    background-color: #d2bf9e;
}

.btn-outline-success {
    color: black;
    border-color: #88b293;
    border-radius: 30%;
}

body,
html {
    background-color: #fff7f5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header div {
    background-color: #A0CDAC;

}

.nav-link {
    display: flex;
    justify-content: center;
}

.navbar-light .navbar-nav .nav-link.active:hover {
    color: #fff7f5;
}

header nav ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: #A0CDAC;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 20px;
    transition: 0.5s ;
}



header nav ul li a:hover {
    color: #fff7f5;
    background-color: #d2bf9e;
}




/*--MAIN--*/
.hero h1 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
}

.hero h2 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 25px;
    font-weight: 350;
    text-align: center;
    margin: 10px;
}

section div h2 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 350;
    text-align: center;
    margin: 20px;
}

.productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}



.cajita .productos div {
    width: 300px;
    border: #A0CDAC 1px solid;
    text-align: center;
    border-radius: 10%;
    margin: 20px;
    box-shadow: 0px 3px 19px 5px rgba(109, 109, 107, 0.236);
    transition-property: all;
    transition-duration: 0.5s;
}

.cajita .productos div:hover{
    box-shadow: 0px 3px 19px 5px rgba(16, 16, 16, 0.329);
}

.cajita img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    padding: 20px;
}



.productos div h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 200;
    text-align: center;

}

.productos p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-align: center;
}

.productos div a {
    text-decoration: none;
    color: #fff7f5;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #A0CDAC;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}


/*--MICUENTA Y CREAR CUENTA--*/
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.formulario div label {
    color: #A0CDAC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.formulario div input {
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.formulario div a:not(.contrasenia) {
    color: #fff7f5;
    background-color: #A0CDAC;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    width: 150px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.contrasenia {
    color: #A0CDAC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.formulario p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    color: #A0CDAC;
    text-align: center;
}

/*---FIN MI  Y CREAR CUENTA---*/
/*---MAIN CAFE---*/
.cafe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cafe div img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    padding: 20px;
}

.cafe div p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-align: center;
}

.cafe div {
    width: 300px;
    border: #A0CDAC 1px solid;
    text-align: center;
    border-radius: 10%;
    margin: 50px;
    box-shadow: 0px 3px 19px 5px rgba(109, 109, 107, 0.236);
    transition-property: all;
    transition-duration: 0.5s;

}
.cafe div:hover{
    box-shadow: 0px 3px 19px 5px rgba(16, 16, 16, 0.329);
}

.cafe select {
    text-decoration: none;
    color: #fff7f5;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #A0CDAC;
    border-radius: 20px;

}

.cafe a {
    text-decoration: none;
    color: #fff7f5;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #A0CDAC;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

/*--- FIN MAIN CAFE---*/

/* ---QUIENES SOMOS--- */

.contenedor h2 {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 450;
    text-align: center;
}

.contenedor p {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    margin: 10px;
}

.paula img {
    width: 500px;
    height: 500px;
    padding: 20px;
    border-radius: 10%;
    object-fit: cover;
}

.contenedor .paula {
    width: 500px;
    height: 500px;
    border: #A0CDAC 1px solid;
    border-radius: 10%;
}

.baristas {
    display: flex;
    justify-content: space-evenly;
    grid-area: bar;
}

/* ---GRIDS--- */
.contenedor {
    display: grid;
    grid-template-rows: 300px 600px 200px 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "presentacion presentacion presentacion presentacion"
        "quien quien paula paula"
        "propuesta propuesta propuesta propuesta"
        "bar bar bar bar"
    ;
}

.presentacion {
    grid-area: presentacion;
}

.quien {
    margin: auto;
    grid-area: quien;
}

.paula {
    margin: auto;
    grid-area: paula;
}

.propuesta {
    grid-area: propuesta;
}


/* ---FIN GRIDS Y QUIENES SOMOS--- */

/*---FOOTER---*/
footer {
    background-color: #A0CDAC;
    margin-top: auto;
}

footer p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    text-align: center;
    font-size: medium;
}

.contactos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

footer a {
    width: 30px;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    margin: 0px 10px 0px 10px;
    transition: 1s;
}
footer a:hover{
    transform: scale(1.1);

}

footer img {
    width: 30px;
    height: 30px;
    display: block;
}


/*---FIN FOOTER---*/

/*---MEDIA QUERIES---*/
@media screen and (max-width:1102px) {
    .contenedor {
        display: grid;
        grid-template-rows: 300px 500px 500px 200px 200px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "presentacion presentacion "
            "quien quien "
            "paula paula"
            "propuesta propuesta "
            "bar bar "
        ;
    }
}


@media screen and (max-width:992px) {
    .b4 {
        display: none;
    }

}

@media screen and (max-width:918px) {
    .contenedor {
        display: grid;
        grid-template-rows: auto 550px 500px auto 200px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "presentacion "
            "quien "
            "paula"
            "propuesta"
            "bar "
        ;
    }
}

@media screen and (max-width:710px) {
    .cajita .productos div {
        margin: 5px;
    }

    .cafe div {
        margin: 5px;
    }
}

@media screen and (max-width:650px) {
    .carousel {
        width: auto;
        margin: 10px;
    }

    .b3 {
        display: none;
    }
}

@media screen and (max-width:610px) {
    .contenedor .paula img {
        width: 350px;
        height: 350px;
    }

    .contenedor .paula {
        width: 350px;
        height: 350px;
    }

    .contenedor {
        display: grid;
        grid-template-rows: auto auto 400px auto 200px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "presentacion "
            "quien "
            "paula"
            "propuesta"
            "bar "
        ;
    }
}

@media screen and (max-width:460px) {
    .b1 {
        display: none;
    }

    .container-fluid {
        padding-left: 0%;
        padding-right: 0%;
    }

    .navbar-light .navbar-toggler {
        font-size: 15px;
    }

    .d-flex {
        justify-content: flex-end;

        flex-wrap: nowrap;
    }

    .form-control {
        font-size: 10px;
    }

    .btn-outline-success {
        font-size: 10px;
    }
}




@media screen and (max-width:395px) {
    .contenedor .paula img {
        width: 300px;
        height: 350px;
    }

    .contenedor .paula {
        height: 350px;
        width: 300px;
    }
}

@media screen and (max-width:357px) {

    .cajita img {
        width: 200px;
        height: 200px;
        border-radius: 10%;
    }

    .cajita .productos div {
        width: 200px;
    }

    .hero h1 {
        font-size: 25px;
        margin: 5px;

    }

    section div h2 {
        font-size: 20px;
    }

    .cafe div img {
        width: 100%;
        height: 220px;
        border: 15px;
    }

    .cafe div {
        width: 230px;
    }

    .cafe select {
        font-size: 15px;
        padding: 5px;
    }

    .cafe a {
        font-size: 15px;
    }

}

/*-- FIN MEDIA QUERIES--*/