footer {
    background-color: $color-principal;
    // margin-top: auto;

    p {
        @extend %texto;
        font-size: medium;
        margin: 16px
    }

    .contactos {
        @include row (flex, center);
        // margin: 16px;

        a {
            @include tamano(30px, 30px);
            margin: 0px 16px 0px 16px;
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }

            img {
                @include tamano(30px, 30px);
                display: block;
            }
        }
    }
}