footer {
    background-color: $color-principal;
    margin-top: auto;

    p {
        @extend %texto;
        font-size: medium;
    }

    .contactos {
        @include row (flex, center);
        margin: 10px;

        a {
            @include tamano(30px, 30px);
            margin: 0px 10px 0px 10px;
            transition: 1s;

            &:hover {
                transform: scale(1.1);
            }

            img {
                @include tamano(30px, 30px);
                display: block;
            }
        }
    }
}