main {
    .contenedor {
        display: grid;
        grid-template-rows: 620px 800px 500px 200px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "none presentacion presentacion presentacion"
            "quien quien paula paula"
            "propuesta propuesta propuesta propuesta"
            "bar bar bar bar"
        ;

        .presentacion {
            grid-area: presentacion;

            img {
                @include tamano(80%, 80%);
                position: relative;
                opacity: 0.5;
            }

            div {
                h2 {
                    text-align: left;
                }

                p {
                    font-weight: 500;
                }

                position: absolute;
                width: 45%;
                top: 300px;
                padding: 40px;
                background: rgba(244, 235, 235, 0.04);
                border-radius: 16px;
                border: 1px solid rgba(244, 235, 235, 0.82);
                border-radius: 25px;
                line-height: 25px;
            }

        }

        .quien {
            grid-area: quien;
            display: flex;
            align-items: left;

            img {
                @include tamano(80%, 80%);
                position: relative;
                opacity: 0.5;
            }

            div {
                h2 {
                    text-align: left;
                }

                p {
                    font-weight: 500;
                }

                position: absolute;
                width: 50%;
                padding: 40px;
                background: rgba(244, 235, 235, 0.04);
                border-radius: 16px;
                backdrop-filter: blur(1.7px);
                border: 1px solid rgba(244, 235, 235, 0.82);
                border-radius: 25px;
                line-height: 25px;
                margin-left: 20px;
                margin-top: 50px;

            }
        }

        .paula {
            display: flex;
            flex-wrap: wrap;
            @include tamano(500px, 500px);
            border: $color-principal 1px solid;
            border-radius: 10%;
            margin: auto;
            grid-area: paula;

            img {
                @include tamano(500px, 500px);
                padding: 20px;
                border-radius: 10%;
                object-fit: cover;
            }
        }

        .propuesta {
            grid-area: propuesta;
            display: flex;
            justify-content: center;

            img {
                position: relative;
                opacity: 0.5;
            }

            .info2 {
                h2 {
                    text-align: left;
                }

                p {
                    font-weight: 500;
                }

                position: absolute;
                width: 80%;
                padding: 40px;
                border-radius: 16px;
                backdrop-filter: blur(1.7px);
                border: 1px solid rgba(244, 235, 235, 0.82);
                border-radius: 25px;
                line-height: 25px;
                margin-top: 10%;
            }

        }

        .baristas {
            display: flex;
            justify-content: space-evenly;
            grid-area: bar;
        }
    }
}