@media screen and (max-width:977px) {
    main {
        .contenedor {
            display: grid;
            grid-template-rows: 500px 600px 500px auto 200px;
            grid-template-columns: 1fr;
            grid-template-areas:
                "presentacion "
                "quien "
                "paula"
                "propuesta"
                "bar "
            ;
            .presentacion{
                div{
                    width: 100%;
                }
            }
            .quien{
                div{
                    margin: 0;
                    width: 100%;
                }
            }
        }
        .baristas{
            .b4{
                display: none;
            }
        }
    }

    main {
        section {
            .cafe {
                div {
                    margin: 5px;
                }
            }
        }
    }
}

@media screen and (max-width:710px) {
    main {
        .contenedor {
            display: grid;
            grid-template-rows: 600px 700px  420px 450px 200px;
            grid-template-columns: 1fr;
            grid-template-areas:
                "presentacion "
                "quien "
                "paula"
                "propuesta"
                "bar ";
            

            .paula {
                @include tamano(380px, 380px);

                img {
                    @include tamano(380px, 380px);
                }
            }

            .baristas {
                .b3 {
                    display: none;
                }
            }
        }
    }

    main {
        .carousel {
            width: auto;
            margin: 10px;
        }
    }

    main {
        section {
            div {
                .cajita {
                    .productos {
                        div {
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:617px){
    main {
        .contenedor {
            display: grid;
            grid-template-rows: 800px 800px auto 600px 200px;
            grid-template-columns: 1fr;
            grid-template-areas:
                "presentacion "
                "quien "
                "paula"
                "propuesta"
                "bar ";
            
            .propuesta{
                img{
                    @include tamano(100%, 100%);

                }
            }
        }
    }
}
@media screen and (max-width:531px){

main {
    .contenedor {
        display: grid;
        grid-template-rows:950px 1100px 400px 850px 200px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "presentacion "
            "quien "
            "paula"
            "propuesta"
            "bar ";
            .paula{
                @include tamano(350px, 350px);
                img{
                    @include tamano(350px, 350px);
                }
            }
        .baristas {
            .b1 {
                display: none;
            }
        
    }
}
}
}
@media screen and (max-width:460px) {

    header {
        .logo {
            img {
                width: 250px;
            }
        }

        .navbar {
            .container-fluid {
                .navbar-toggler {
                    font-size: nth($font-size, 2);
                }
            }
        }
    }
}

@media screen and (max-width:357px) {
    main {
        .hero {
            h1 {
                font-size: nth($font-size, 4);
                margin: 5px;
            }
        }

        section {
            div {
                h2 {
                    font-size: nth($font-size, 4);
                }

                .cajita {
                    .productos {
                        div {
                            width: 200px;

                            img {
                                @include tamano(200px, 200px);
                                border-radius: 10%;
                            }
                        }
                    }
                }
            }
        }
    }

    main {
        section {
            div {
                h1 {
                    font-size: nth($font-size, 3);
                }
            }
        }
    }

    main {
        .contenedor {
            display: grid;
            grid-template-rows:920px 1230px 320px 885px 200px;
            grid-template-columns: 1fr;
            grid-template-areas:
                "presentacion "
                "quien "
                "paula"
                "propuesta"
                "bar ";
                .paula{
                    @include tamano(300px, 300px);
                    img{
                        @include tamano(300px, 300px);
                    }
                }
            div {
                h2 {
                    font-size: nth($font-size, 5);

                }
            }
        }
    }

    main {
        section {
            .cafe {
                div {
                    width: 230px;

                    img {
                        @include tamano(100%, 200px);
                        border: 15px;
                    }

                    select {
                        font-size: nth($font-size, 2);
                        padding: 5px;
                    }

                    a {
                        font-size: nth($font-size, 2);
                    }
                }
            }
        }
    }
}