@media screen and (max-width:1186px) {
    main {
        .contenedor {
            display: grid;
            grid-template-rows: 300px 500px 500px 200px 200px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "presentacion presentacion "
                "quien quien "
                "paula paula"
                "propuesta propuesta "
                "bar bar ";
        }

        .baristas {
            .b4 {
                display: none;
            }
        }
    }
}

@media screen and (max-width:918px) {
    main {
        .contenedor {
            display: grid;
            grid-template-rows: auto 550px 500px auto 200px;
            grid-template-columns: 1fr;
            grid-template-areas:
                "presentacion "
                "quien "
                "paula"
                "propuesta"
                "bar "
            ;
        }
    }

    main {
        section {
            .cafe {
                div {
                    margin: 5px;
                }
            }
        }
    }
}

@media screen and (max-width:710px) {
    main {
        .contenedor {
            display: grid;
            grid-template-rows: auto auto 400px auto 200px;
            grid-template-columns: 1fr;
            grid-template-areas:
                "presentacion "
                "quien "
                "paula"
                "propuesta"
                "bar ";
            ;

            .paula {
                @include tamano(380px, 380px);

                img {
                    @include tamano(380px, 380px);
                }
            }

            .baristas {
                .b3 {
                    display: none;
                }
            }
        }
    }

    main {
        .carousel {
            width: auto;
            margin: 10px;
        }
    }

    main {
        section {
            div {
                .cajita {
                    .productos {
                        div {
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:460px) {
    main {
        .contenedor {
            .paula {
                @include tamano(300px, 350px);

                img {
                    @include tamano(300px, 350px);
                }
            }

            .baristas {
                .b1 {
                    display: none;
                }
            }
        }
    }

    header {
        .logo {
            img {
                width: 250px;
            }
        }

        .navbar {
            .container-fluid {
                .navbar-toggler {
                    font-size: nth($font-size, 2);
                }
            }
        }
    }

    @media screen and (max-width:357px) {
        main {
            .hero {
                h1 {
                    font-size: nth($font-size, 4);
                    margin: 5px;
                }
            }

            section {
                div {
                    h2 {
                        font-size: nth($font-size, 4);
                    }

                    .cajita {
                        .productos {
                            div {
                                width: 200px;

                                img {
                                    @include tamano(200px, 200px);
                                    border-radius: 10%;
                                }
                            }
                        }
                    }
                }
            }
        }

        main {
            section {
                div {
                    h1 {
                        font-size: nth($font-size, 3);
                    }
                }
            }
        }

        main {
            .contenedor {
                div {
                    h2 {
                        font-size: nth($font-size, 5);

                    }
                }
            }
        }

        main {
            section {
                .cafe {
                    div {
                        width: 230px;

                        img {
                            width: 100%;
                            height: 220px;
                            border: 15px;
                        }

                        select {
                            font-size: nth($font-size, 2);
                            padding: 5px;
                        }

                        a {
                            font-size: nth($font-size, 2);
                        }
                    }
                }
            }
        }
    }
}