$color-principal:#A0CDAC;
$color-hover: #d2bf9e;
$color-claro:#fff7f5;
$color-textos:black;

// listas
$font-size:
10px,
15px,
20px,
25px,
30px,
35px;

// mapas
$tarjeta:(
    ancho:300px,
    borde:$color-principal 1px solid,
    text-align:center,
    border-radius:10%,
    sombra:0px 3px 19px 5px rgba(109, 109, 107, 0.236),
    transition:all,
    duracion:0.5s,
);

// MIXIN
@mixin row ($display, $justify) {
    display:$display;
    justify-content:$justify;
    
}
@mixin flex ($display, $flex, $align ) {
    display: $display;
    flex-direction: $flex;
    align-items: $align;
}
@mixin tamano ($width, $height){
    width:$width ;
    height:$height;
}
